<!doctype html>
<html>
    <head>
        <title>ファイル一覧</title>
    </head>
    <body>
        <h1>更新日時順のファイル一覧</h1>
        <ul>
            {% for file in files %}
                <li>
                    {% if file[0].lower().endswith(('.png', '.jpg', '.jpeg', '.gif', '.bmp')) %}
                        <img src="{{ url_for('send_image', filename=file[0].replace('\\', '/')) }}" alt="{{ file[0].split('/')[-1] }}" width="100">
                    {% else %}
                        {{ file[0] }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
